%title TicketHQ
=stylesheet_link_tag "jqtouch/jqtouch.min.css", "jqtouch/themes/apple/theme.min.css"
=javascript_include_tag "jqtouch/jqtouch.min.js", "jqtouch/jquery.1.3.2.min.js", "mobile"
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;", :name => "viewport"}
=yield(:head)
.current
	.toolbar
		=yield(:button_back)
		%h1=yield(:title)
		=link_to "Nuevo", "/tickets/new", :class => "button" unless current_page? "/tickets/new"
		=yield(:toolbar)

	-unless flash.empty?
		.info
			-flash.each do |name, msg|
				=content_tag :div, msg, :id => "flash_#{name}"
	=yield
	.info
		%p=link_to "Version Completa", :mobile => 0
